In [2]:
import pandas as pd

from helper import load_data
from helper import save_data

In [3]:
def generate_data_tests():
    df = load_data('data_trafo.csv')
    df.drop('Unnamed: 0',axis=1, inplace=True)
    df.drop(df[df['Category'] == -1].index, inplace=True)
    df.drop(df[df['Label'] == 'Tour'].index, inplace=True)
    df.drop(df[df['Label'] == 'Startseite'].index, inplace=True)
    df.drop(df[df['Label'] == 'Übersicht'].index, inplace=True)
    df.drop(df[df['Label'] == 'Rückmeldungen'][df['TestResQual'] == -1].index, inplace=True)
    df.reset_index(inplace=True)
    df_user = df.groupby('User')
    df_mikro = []
    for user in df_user:
        index_tests = user[1].loc[user[1]['TestResQual'] >= 0].index

        for index in index_tests:
            df_mikro.append([user[0],
                            df.iloc[index - 1]['Category'],
                            df.iloc[index]['Category'],
                            df.iloc[index]['TestResQual'],
                            df.iloc[index + 1]['Category']])

    df_mikro = pd.DataFrame(df_mikro, columns=['User', 'PrevAct', 'Test', 'TestResQual', 'NextAct'])

    return df_mikro

In [21]:
df_test = generate_data_tests()
df_test

C:\Users\Lukas\AppData\Local\Temp/ipykernel_9720/475812105.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.drop(df[df['Label'] == 'Rückmeldungen'][df['TestResQual'] == -1].index, inplace=True)

    User  PrevAct  Test  TestResQual  NextAct
0      0        1     1            1        0
1      0        0     0            1        0
2      1        0     0            2        0
3      1        0     0            2        1
4      4        0     0            0        1
..   ...      ...   ...          ...      ...
89    42        1     1            2        0
90    43        0     0            2        5
91    43        1     1            2        4
92    45        0     0            1        0
93    45        1     1            1        2

[94 rows x 5 columns]

In [5]:
df_trafo = load_data('data_trafo.csv')
df_trafo.drop('Unnamed: 0',axis=1, inplace=True)
df_trafo.drop(df_trafo[df_trafo['Category'] == -1].index, inplace=True)
df_trafo.drop(df_trafo[df_trafo['Label'] == 'Tour'].index, inplace=True)
df_trafo.drop(df_trafo[df_trafo['Label'] == 'Startseite'].index, inplace=True)
df_trafo.drop(df_trafo[df_trafo['Label'] == 'Übersicht'].index, inplace=True)
df_trafo.drop(df_trafo[df_trafo['Label'] == 'Rückmeldungen'][df_trafo['TestResQual'] == -1].index, inplace=True)

C:\Users\Lukas\AppData\Local\Temp/ipykernel_9720/896340846.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_trafo.drop(df_trafo[df_trafo['Label'] == 'Rückmeldungen'][df_trafo['TestResQual'] == -1].index, inplace=True)

In [6]:
df_trafo

,User,Category,Label,ResponsTask,TestResQual,TestResQuant,SecSpent,TotSec,LearnType,Level,UserCumSec,difficulty
3,0,0,ks1a,-1,-1,-1,4,138,6,0,111,-1
4,0,0,ka1a1,-1,-1,-1,90,142,4,0,201,-1
5,0,0,ks1a1b1_1a,-1,-1,-1,46,232,5,0,247,-1
6,0,0,ka1a1,-1,-1,-1,11,278,4,0,258,-1
7,0,0,ks1a1b2_1a,-1,-1,-1,31,289,5,0,289,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
6613,46,1,ks2b1k3_1a,-1,-1,-1,113,16244994,3,1,1078,-1
6614,46,1,ks2b1,-1,-1,-1,819,16245107,4,1,4009,-1
6615,46,1,ks2b2,-1,-1,-1,11,16245926,4,1,4020,-1
6616,46,1,ks2b,-1,-1,-1,70,16245937,6,1,4090,-1
6618,46,1,Logout,-1,-1,-1,10,16246032,6,1,4125,-1

In [7]:
df_test

    User  PrevAct  Test  TestResQual  NextAct
0      0        1     1            1        0
1      0        0     0            1        0
2      1        0     0            2        0
3      1        0     0            2        1
4      4        0     0            0        1
..   ...      ...   ...          ...      ...
89    42        1     1            2        0
90    43        0     0            2        5
91    43        1     1            2        4
92    45        0     0            1        0
93    45        1     1            1        2

[94 rows x 5 columns]

In [8]:
df_test.groupby(df_test.columns.tolist()).size().reset_index().rename(columns={0:'count traces'})

    User  PrevAct  Test  TestResQual  NextAct  count traces
0      0        0     0            1        0             1
1      0        1     1            1        0             1
2      1        0     0            2        0             1
3      1        0     0            2        1             1
4      4        0     0            0        1             1
..   ...      ...   ...          ...      ...           ...
82    42        1     1            2        1             1
83    43        0     0            2        5             1
84    43        1     1            2        4             1
85    45        0     0            1        0             1
86    45        1     1            1        2             1

[87 rows x 6 columns]

In [31]:
diff_next = df_test['NextAct'] == df_test['Test']
next_as_int = [0 if next else 1 for next in diff_next]
next_as_int

[1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1]

In [32]:
#df_test_conv = df_test.copy()
diff_prev_test = df_test['PrevAct'] - df_test['Test']
#diff_next_test = int(not(df_test['NextAct'] == df_test['Test']))
df_test['PrevAct'] = diff_prev_test
df_test['Test'] = diff_prev_test
df_test['NextAct'] = next_as_int
df_test

    User  PrevAct  Test  TestResQual  NextAct
0      0        0     0            1        1
1      0        0     0            1        0
2      1        0     0            2        0
3      1        0     0            2        1
4      4        0     0            0        1
..   ...      ...   ...          ...      ...
89    42        0     0            2        1
90    43        0     0            2        1
91    43        0     0            2        1
92    45        0     0            1        0
93    45        0     0            1        1

[94 rows x 5 columns]

In [33]:
df_test.drop(['User'], inplace=True, axis=1)
df_test.groupby(df_test.columns.tolist()).size().reset_index().rename(columns={0:'count traces'})

   PrevAct  Test  TestResQual  NextAct  count traces
0        0     0            0        0             2
1        0     0            0        1             7
2        0     0            1        0            19
3        0     0            1        1            28
4        0     0            2        0            11
5        0     0            2        1            27

In [34]:
save_data(df_test, 'data_mikro_test_traces_6')